.ph-button {
  border-style: solid;
  border-width: 0px 0px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;
  font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial,
    sans-serif;
  font-weight: 700;
  padding: 19px 39px 18px;
  font-size: 18px;
}
/*Green
==========================*/
.ph-btn-green {
  border-color: #3ac162;
  background-color: #5fcf80;
}
.ph-btn-green:hover,
.ph-btn-green:focus,
.ph-btn-green:active {
  background-color: #4bc970;
  border-color: #3ac162;
}

/*Blue
==========================*/
.ph-btn-blue {
  border-color: #326e99;
  background-color: #3f8abf;
}

.ph-btn-blue:hover,
.ph-btn-blue:focus,
.ph-btn-blue:active {
  background-color: #397cac;
  border-color: #326e99;
}

.ph-container {
  margin: 0 auto;
  display: inline;
}

.ph-float {
  float: left;
  width: 1300px;
  padding: 10px;
  padding-top: 150px;
  text-align: center;
}

.ph-clear {
  clear: both;
}

.current {
  background-color: grey;
}

.topnav2 {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav2 a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Century Gothic;
}

/* Change the color of links on hover */
.topnav2 a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav2 a.active {
  background-color: #4caf50;
  color: white;
}

.topnav2 a {
  border-right: 1px solid #bbb;
}

.div1 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div2 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div3 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div4 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div5 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div6 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div7 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div8 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div9 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div10 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div11 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div12 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div13 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div14 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div15 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div16 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div17 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div18 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div19 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div20 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div21 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}

.div22 {
  width: 500px;
  float: left;
  margin: 2px;
  padding: 50px;
}
.button {
  border-radius: 5px;
  font-size: 16px;
  margin: 20px;
  color: #fff;
  background-color: #333;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.button:hover {
  opacity: 0.5;
}

.button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
